<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Título</th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i < noticias.length; i++) { %>
				<tr>
					<td><%= noticias[i].id_noticia %></td>
					<td><%= noticias[i].titulo %></td>
				</tr>
			<% } %>
			</tbody>
		</table>

	</body>
</html>